annotated-types==0.5.0
asgiref==3.6.0
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.12.2
colorama==0.4.6
comm==0.1.3
crispy-bootstrap5==0.7
crispy-forms-gds==0.2.4
debugpy==1.6.7
decorator==5.1.1
Django==4.2.1
django-admin-blame==1.1.1
django-autocomplete-light==3.9.7
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
django-flatpickr==2.0.1
django-forms-fieldset==1.0.2
django-model-utils==4.2.0
django-multiselectfield==0.1.12
django-require-login==1.1.2
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.4.12
executing==1.2.0
gunicorn==21.2.0
jedi==0.18.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.8.0
prompt-toolkit==3.0.38
pure-eval==0.2.2
pydantic==1.10.7
pydantic_core==2.6.3
Pygments==2.15.1
python-dateutil==2.8.2
pyzmq==25.1.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.6.0
tzdata==2023.3
wcwidth==0.2.6
