{% load widget_tweaks %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}


{% block content %}
<style>
  .row {
    margin-bottom: 5px; /* Adjust the value as needed */
  }
</style>
<div class="col-md-4">  <button onclick="popup2({{ client.id }})">Add New</button>  </div>

<ul>
  <b><div class="row">
    <div class="col-md-2"> Test Date </div>
    <div class="col-md-3">   Test Type</div>
    <div class="col-md-2">   Result</div>
    <div class="col-md-2">  Facility </div>
    <div class="col-md-2">  </div>
    <div class="col-md-1">  </div>
  </div> </b>
<hr>
{% for hp in hepatitis %}
<div class="row">
    <div class="col-md-2">  {{ hp.test_date }}</div>
    <div class="col-md-3">  {{ hp.hepatitis_type }}</div>
    <div class="col-md-2">  {{ hp.results }}</div>   
    <div class="col-md-2">  {{ hp.facility }}</div>
    <div class="col-md-2">  </div>
    <div class="col-md-1"> <button onclick="popup({{ hp.id }})">Edit</button>  </div>
  </div> 
  <hr>
{% empty %}
<div class="row">
  <div class="col-md-6">
    <p style="font-size:12px; "> No data found - Click <b>'Add New'</b> to create new record </p>
  </div>
  <div class="col-md-6"></div>
</div>
{% endfor %}
</ul>

{% endblock %}


<script>
  function popup(hpid) {
  var windowFeatures = 'height=600,width=700,left=400,top=100,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no,directories=no,status=no';
  var url = "{% url 'edit_hepatitis' 0 %}".replace("0", hpid);
  var newWindow = window.open(url, 'popUpWindow', windowFeatures);

  newWindow.addEventListener('load', function() {
    newWindow.document.body.style.backgroundColor = 'gray'; // Change the background color to red
})};
</script>


<script>
  function popup2(ClientId) {
  var windowFeatures = 'height=600,width=700,left=400,top=100,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no,directories=no,status=no';
  var url = "{% url 'create_hepatitis' client_id %}";
  var newWindow = window.open(url, 'popUpWindow', windowFeatures);

  newWindow.addEventListener('load', function() {
    newWindow.document.body.style.backgroundColor = 'gray'; // Change the background color to red
})};
  </script>
  